@CHARSET "ISO-8859-1";

/*
  project: CSS - table design
  type: stylesheet
  description: foggycountry
*/
table {
  border-collapse: collapse;
  border: 2px solid #C5BA85;
  font: normal 10px verdana, arial, helvetica, sans-serif;
  color: #333333;
  background: #BFE756;
  }
caption {
  padding: 0 .4em .4em;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  background: transparent;
  }
td, th {
	font: normal 16px georgia, verdana, arial, helvetica, sans-serif;
  color: #636363;
  border: 1px solid #cc9;
  }
tfoot th {
  font: normal 16px georgia, verdana, arial, helvetica, sans-serif;
  border: transparent;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #333333;
  background: #C5BA85;
  }
  
  

  
  thead th {
  font: normal 18px georgia, verdana, arial, helvetica, sans-serif;
  border: transparent;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #333333;
  background: #C5BA85;
  border: 1px dashed #B85A7C;
}
  .large {
  	font: normal 18px georgia, verdana, arial, helvetica, sans-serif;
  	padding: 0.2em;
  	
  }
  .medium {
  	font: normal 16px georgia, verdana, arial, helvetica, sans-serif;
  	padding: 0.2em;
  }
  .small {
  	font: normal 14px georgia, verdana, arial, helvetica, sans-serif;
  	padding: 0.2em;
  }
  

  
tbody td a {
  background: transparent;
  color: #72724c;
  text-decoration: none;
  }
tbody td a:hover {
  background: transparent;
  color: #636363;
  }
tbody th a {
  font: normal 16px georgia, verdana, arial, helvetica, sans-serif;
  background: transparent;
  color: #333333;
  text-decoration: none;
  font-weight:normal;
  }
tbody th a:hover {
  background: transparent;
  color: #333333;
  }
tbody th, tbody td {
  vertical-align: top;
  text-align: left;
  }
tfoot td {
  border: 1px solid #C5BA85;
  background: #C5BA85;
  }
.odd {
  background: #91AB59;
  }
  
tbody tr:hover {
  color: #333444;
  background: #DDCFAE;
  }
tbody tr:hover th,
tbody tr.odd:hover th {
  background: #C5BA85;
  }
  
  
  